<nav class="nav">
  <div class="nav__title">
    <a href="/">Bilkent University Online Services</a>
  </div>
  <ul class="nav__linkContainer">
    <li class="nav__link">
      <a href="#">Change Language</a>
    </li>
    <li class="nav__link <%= active=="reset" ? 'active' : '' %>"> 
      <a href="/reset-password">Reset Password</a>
    </li>
    <li class="nav__link <%= active=="login" ? 'active' : '' %>"> 
      <a href="/">Login</a>
    </li>
  </ul>
</nav>