<nav class="nav">
  <div class="nav__title">
    Bilkent University Online Services
  </div>
  <ul class="nav__links">
    <li class="nav__link">
      Reset Password
    </li>
    <li class="nav__link">
      Login
    </li>
  </ul>
</nav>