*, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: clamp(400px, 80%, 1170px);
  margin: auto;
}

strong {
  font-size: 1em;
}

nav { 
  color: #fff;
  background-color: #036;
  padding: 0.75rem 1.25rem;
  border-radius: 0.125rem;
  font-size: 1.25rem;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  margin: 1.25rem 0;
}

.logo, .logo img{
  width: 4.375rem;
  height: 4.375rem;
  margin-right: 0.625rem;
}

.header__title {
  font-size: 2rem;
  color: #014a96;
}

.header__subtitle {
  font-size: 1.375rem;
  font-weight: 400;
  color: #999;
}

.login {
  display: flex;
  flex-direction: column;
}

.login__title {
  font-size: 1.3125rem;
  color: #333;
  margin: 1.25rem 0;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e5e5e5;
}

.login__content {
  display: flex;
}

.login__form {
  display: flex;
  flex-direction: column;
  margin: 1.25rem;
  width: 50%;
}

.input__group {
  /* margin-left: auto; */
  margin-right: 0;
  margin-bottom: 1.5rem; 
}

.input__group > label {
  margin-left: 5rem !important;
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-left: auto;
  margin-right: 1.25rem;
}

.input__group > input {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.375rem;
}

.login__form button {
  color: #fff;
  font-size: 0.8125rem;
  font-weight: 700;
  width:fit-content;
  margin-left: 10.125rem;
  padding: 0.375rem 0.75rem;
  border: 1px solid #013163;
  text-shadow: 0 -1px rgba(0,0,0,0.25);
  background-image: linear-gradient(to bottom, #014a96, #013163);
  
}

.login__tooltip_container {
  margin-right: 0;
  margin-left: auto;
  justify-self: flex-end;
  display: flex;
  flex-direction: column;
  width: clamp(280px, 50%, 550px);
 
}

.login__tooltip{
  font-size: 0.8125rem;
  padding: 1rem;
  margin: 1.5rem;
  line-height: 1.25rem;

}

.login__tooltip:nth-of-type(1) {
  color: #b94a48;
  background-color: #f2dede;
  border:solid 1px #d59595;
  border-radius: 0.125rem;
}

.login__tooltip:nth-of-type(2) {
  background-color: #f1f1f1;
  border: 1px solid #e5e5e5;
  border-radius: 0.125rem;
}

footer {
  position: absolute;
  bottom: 0;
  width: clamp(400px, 80%, 1170px);
  height: 3rem;
  color: #666666;
  font-size: 0.8rem;
  text-align: right;
  padding: 0.675rem;
  border-top: 1px solid #e5e5e5;
}