<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>

  <body>
   
    <%- include("./partials/nav.ejs") %>

    <%- include("./partials/header.ejs") %>

    <section id="resetPassword" class="resetPassword">
      <div class="resetPassword__title">
        Reset password
      </div>
      <div class="resetPassword__content">
        <p>Please select you account type</p>
        <div class="resetPassword__accountTypeContainer">
          <div class="resetPassword__accountType">
            Student <span>- or -</span> Alumni
          </div>
          <div class="resetPassword__accountType">
            Personnel <span>- or -</span> Instructor
          </div>
        </div>
      </div>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
